<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org"
th:replace = base::layout(~{::section})>
<head>
<meta charset="UTF-8">
<title>New About</title>
</head>
<body>
<section>
<h1>this is new About page </h1>

<p>lorem porem sorem morem sarvesh sahishnu tiwari from Uttar pradesh.
A paragraph is a series of sentences that are organized and coherent, 
and are all related to a single topic.Almost every piece of writing 
you do that is longer than a few sentences should be organized into paragraphs.</p> 
</section>

</body>
</html>