<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Springl1l2</title>
</head>
<body style="text-align:center">
<h1>Welcome to Patient Management System</h1>
<h3>---Get All Registered Patients---</h3>

<a th:href="@{patients}" class="btn btn-success"><button>Get All Patients</button><i class="fa fa-plus-square" aria-hidden="true"></i></a>


<h3>---Get All Available Services---</h3>

<a th:href="@{services}" class="btn btn-success"><button>Get All Patients</button><i class="fa fa-plus-square" aria-hidden="true"></i></a>


</body>
</html>