<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<style>
		body {
			background-color: skyblue;
		}
	</style>
	<meta charset="ISO-8859-1">
	<title>First web Application</title>
</head>

<body>
	<center>
		<form action="/savePerson" method="post">
			<table>
				<tr>
					<td><label for="ID">Person ID</Label></td>
					<td><input type="text" name="pid"></input></td>
				</tr>

				<tr>
					<td><label for="pname">Person Namne</Label></td>
					<td><input type="text" name="pname"></input></td>
				</tr>

				<tr>
					<td>
						<input type="submit" value="submit">
						<button>send</button>
					</td>
				</tr>
				</tabel>
		</form>
		<h1>Web Application for Spring web</h1>
	</center>
</body>


</html>